body  {
  width: 980;
  margin: 0 auto;
}

img {
height: 200px;
width: 200px;

}

section + div {
  background-color: rgb(20, 168, 217);
  color: aliceblue;
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 1rem;
  height: max-content;
  width: max-content;

}